<!DOCTYPE html>
<html>
    <head>
        <title>Monitorizare Plante</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        
    </head> 
        <header>
            <h2>Monitorizarea plantelor</h2>
        </header>
        <main><%- body %></main>
        <footer>
            <hr>
          <p>
            © Bărbuță Delia Elena, Paraschiv Ștefan, Prioteasa Ioana Cristina, Scînteie Gabriel Alexandru, 1307A
          </p>
        </footer>
</html>